.react-calendar__navigation {
    background: pink;
    border-bottom: 4px solid brown;
    height: 90px;
    border-radius: 20px 20px 0 0;

    span {
      font-size: 24px;
      font-weight: 600;
      color: brown;
    }
}

.react-calendar__navigation button:disabled {
    background-color: pink;
    border-radius: 20px 20px 0 0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: pink;
    border-radius: 20px 20px 0 0;
}

.react-calendar__month-view {
    padding: 12px 32px;
    abbr {
        color: brown;
        font-size: 16px;
        font-weight: 500;
    }
}

.react-calendar__month-view__weekdays {
    abbr {
        font-size: 18px;
        font-weight: 900;
    }
}

.react-calendar__tile {
    text-align: center;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
