.appbar-container{
    display:flex;
}


.consume-pattern{
    width : 100%;
    align-items: center;
    justify-content: center;
}

.consume-container{
    display:flex;
    justify-content: center;
}
/* .consume-high{
    width : 100%;
    justify-content: center;
    align-items: center;
} */