.filter-store{
    border-radius: 15px;
    /* border : 1vw solid #333; */
    margin-bottom: 1vh;
    width : 80%;
    margin-left: 10vw;
    text-align: left;
    /* background-color: white; */
    
}

.filter-infor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10vw;
}

.filter-chose{
    display: flex;
    justify-content: space-evenly;
}
.filter-fontcontainer{
    display: flex;


}
.filter-fontcolor3{
    color:white;
    font-size : 12px;
    /* width : 20%; */
}

.filter-fontcolor1{
    color:white;
    font-size : 20px;
    width : 40%;
    text-align: right;
}
.filter-50{
    width : 60%;
}

.filter-fontcolor2{
    color:white;
    font-size : 16px;
    /* width : 50%; */
}

