.friend-container2 {
  display: flex;
  justify-content: center;
}
.friend-container {
    display: flex;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 30px;
  }
.friend-responisve-img{
  width: 100%;
  border-radius: 100%;
  max-width: 20vw; /* 이미지 최대 너비 지정 */
}
.no-frined{
  width: 100%;
  border-radius: 100%;
  max-width: 60vw; /* 이미지 최대 너비 지정 */
}
/*   
  .search-right {
    flex: 1;
  } */
  
  .friend-list {
    display: flex;
    flex-wrap: wrap; /* 요소가 넘칠 경우 자동으로 다음 줄로 이동 */
    justify-content: flex-start; /* 요소들을 좌우로 균등하게 분배 */
    padding: 10px; /* 요소 간 여백 조정 */
  }
  
  .friend-item {
    flex-basis: calc(33.33% - 10px); /* 각 요소의 초기 너비를 33.33%로 설정 (3개 요소가 한 줄에 들어가도록) */
    margin-bottom: 10px; /* 요소 간 세로 여백 조정 */
  }

  /* .friend-class{
    margin :5px;
    border-radius: 20px;
    background-color: #D9D9D9;
  } */
  .yellow-background{
    margin :3vw;
    border-radius: 20px;
    /* background-color: yellow; */
    background: rgb(255,0,255);
    background: linear-gradient(90deg, rgba(255,0,255,1) 6%, rgba(0,255,255,1) 100%);
  }
  .black-background{
    margin :3vw;
    border-radius: 20px;
    background-color: #D9D9D9;
  }



  
  
  /* 필요한 스타일 추가 */
.search-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
}
