/* SearchBar.css */
.search {
    position: relative;
  }
  
  .searchInputs {
    margin-top: 30px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .searchInput {
    background-color: white;
    border-radius: 20px;
    font-size: 15px;
    border-color: black;
    color: black;
    padding: 15px 50px 15px 15px;
    height: 40px;
    width: 85%;
    box-sizing: border-box;
  }
  
  .searchIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2; /* Add this to make sure the icon appears above the input */
    height: 30px; /* Adjust the height for the appropriate size */
    width: 30px; /* Adjust the width for the appropriate size */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  
  .dataResult {
    margin-top: 1%;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y:scroll;
    z-index: 1;
  }
  
  /* 스크롤 안 보이기 */
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  
  #clearBtn {
    cursor: pointer;
  }
  
  .titleClick:hover {
    cursor: pointer;
  }
  
.search-button{
  width: 14vw;
  height: 4vh;
  border: none; /* 테두리를 없애기 */
  border-radius: 5px; /* 둥근 테두리 */
  background: rgb(255,0,255);
  background: linear-gradient(90deg, rgba(255,0,255,1) 6%, rgba(0,255,255,1) 100%);
  font-size: 15px;
  font-weight: 600;
  margin-top: 3vw;
  ;
}


.friend-list {
  display: flex;
  flex-wrap: wrap; /* 요소가 넘칠 경우 자동으로 다음 줄로 이동 */
  justify-content: space-between; /* 요소들을 좌우로 균등하게 분배 */
  padding: 10px; /* 요소 간 여백 조정 */
}

.friend-item {
  flex-basis: calc(33.33% - 10px); /* 각 요소의 초기 너비를 33.33%로 설정 (3개 요소가 한 줄에 들어가도록) */
  margin-bottom: 10px; /* 요소 간 세로 여백 조정 */
}