/* SkinShopPage.css */

.skinshop-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개의 열로 설정 */
    gap: 20px; /* 열 간격 설정 (선택 사항) */

}

/* max-width: 360px; 최대 너비 설정 (화면 크기에 맞게 조절) */
/* margin: 0 auto; 가운데 정렬 (화면 가운데 정렬을 원하는 경우) */

