.navbarcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.image-container{
    display: flex;
    width: 30vw;
    justify-content: space-around;
    /* background-color: aquamarine; */
    height: auto; 
}
.image-container2{
    display: flex-end;
    width: 30vw;
    align-items: center;
    text-align: center;
    height: auto;
    /* background-color: chartreuse; */
}
.image-container2-1{
    display: flex;
}


.responsive-image {
    width: 100%;
    height: auto;
    max-width: 8vw; /* 이미지 최대 너비 지정 */
  }
.responsive-image2 {
width: 20%;
height: auto;
max-width: 5vw;
}

